<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style type="text/css">
        form input[type=submit] {
        color: white;
        }
    </style>

</head>
<body>

<h3> Spring boot + thymeleaf + Material Disegn lite</h3>

<h1> Cadastro de Pessoas </h1>

<a class="waves-effect waves-light btn" href="/cadastropessoa">Cadastrar Pessoa</a>
<br>
<br>

<!--objeto p para o objeto que vem do servidor-->
<div th:each="p: ${pessoaobj}">
    <div class=" row">
        <p>ID : <span th:text="${p.id}"> </span></p>
        <p>Nome : <span th:text="${p.nome}"> </span></p>
        <p>Sobrenome : <span th:text="${p.sobrenome}"> </span></p>
        <p>Idade : <span th:text="${p.idade}"> </span></p>
    </div>
</div>

<!-- ----  CADASTRO DE TELEFONES ------ POST pega tudo que esta no formulario  -->
<h5> Telefones</h5>

<div class="row">
    <br/>
    <div th:each="m : ${msg}">
        <span th:text="${m}"></span>
    </div>
    <br/>
</div>


<!--onsubimit : tem um script la em baixo validade o true e false
 cadastro tem seu formulario especifico PRO POST - o post injeta -->


<div class="row">
<!--    preciso pegar o id da pessoa e enviar junto com os dados do telefone e ele poder salvar no banco de dados
... temos que pegar dentro do action-->
    <form th:action="@{/addfonePessoa/{pessoaid}(pessoaid=${pessoaobj.id})}" method="post" class=" col s12"
          onsubmit="return validarCampos()? true : false">
        <div class="row">
            <div class="input-field col s6">
                <label class="active" for="numero">Número</label>
                <input id="numero" name="numero" class="validate">
            </div>

            <div class="input-field col s6">
                <label class="active" for="tipo">Tipo</label>
                <input id="tipo" name="tipo" class="validate">
            </div>
            <input TYPE="submit" value="Adicionar" class="waves-effect waves-light btn">
        </div>

    </form>

</div>


<!--tabela para mostrar os telefones
vai vir do banco de dados ${telefones}-->
<table class="striped">
    <tr th:each="fone : ${telefones}">
        <td th:text="${fone.numero}">
        <td th:text="${fone.tipo}">
<!--        excluir telefone-->
        <td><a th:href="@{/removertelefone/{idtelefone}(idtelefone=${fone.id})}">Excluir</a></td>
    </tr>

</table>


<!--validando campos numero e tipo da classe telefone --- ja poupa recursos do servidor -->
<script type="text/javascript">
    function validarCampos(){
        numero = document.getElementById('numero').value;
        tipo = document.getElementById('tipo').value;


if(numero == ''){
        alert('Numero deve ser informado');
        return false;
     }
        else if (tipo === ''){
        alert('Tipo deve ser informado');
          return false;
     }
    return true;
    }
</script>

</body>
</html>